<div>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <h3>Angular to-do list</h3>
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>


  <div class="container">
    <h3 style="text-align: center;">Have a nice day!!</h3>
    <br>
    <div class="input-container">
      <input type="text" placeholder="Enter a task" class="form-control" [(ngModel)]="todoTitle"
        (keyup.enter)="addItem()" />
      <span style="margin-right: 10px;"></span>
      <button type="submit" id="add-btn" (click)="addItem()">addTask</button>
    </div>
    <br>
    <app-to-do [todos]="todosList"></app-to-do>
  </div>

</div>