.list-group-item {
    background-color: #282C34;
    color: #F0F0F0;
    border: 1px solid #383E48
}

.input-container {
    display: flex;
    justify-content: center;
}

.input-container .form-control {
    width: 50%;
}

.delete-btn {
    background-color: #cf3e1e;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.list-group-item input[type="checkbox"] {
    accent-color: #1DB954;
}

/* Checked State */
.list-group-item input[type="checkbox"]:checked {
    background-color: #1DB954;
    /* Green background */
    color: #FFFFFF;
    /* White checkmark */
    border: 1px solid #1DB954;
    /* Consistent border when checked */
}


.task-content {
    min-width: 0;
    /* Important for text-truncate to work */
    margin-right: 1rem;
}

.task-header {
    max-width: 100%;
}

.form-check-label {
    max-width: 70%;
}

.description {
    color: #8f9499;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.action-buttons {
    min-width: fit-content;
}

@media (max-width: 576px) {
    .action-buttons {
        display: flex;
        gap: 0.5rem !important;
    }

    .delete-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
}